.map {
  height: 100vh;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.map--location {

}
// .iframe-wrapper {
//   height: 600px;
//   width: 100%;
//   // position: relative;
//   padding-bottom: 28.37%; /* 16:9 */
//   height: 0;
  // iframe {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
// }