* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
}
ul {
  list-style-type:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  color: rgba(white, 0.8);
} 